/*
 * HTML5 Boilerplate
 *
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 100%;
    line-height: 1.2rem;
    background: #fefefe;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Markdown elements
   ========================================================================== */

h1 {
	font-size: 2.4rem;
	line-height: 2.4rem;
	margin: 4.2rem 0 0.6rem;
	text-align: center;
	font-weight: 400;
}

h2 {
	font-size: 1.3rem;
	line-height: 1.2rem;
	margin: 0 0 2.4rem; 
	text-align: center;
	font-weight: 400;
}

h3 {
	font-size: 1rem;
	line-height: 1.2rem;
	margin: 1.2rem 0;
	font-weight: 500;
}

h4 {
	font-size: 1rem;
	line-height: 1.2rem;
	margin: 1.2rem 0;
	font-variant: small-caps;
	text-rendering: optimizeSpeed;
	text-transform: lowercase;
	letter-spacing: 0.1rem;
	font-weight: 300;
}

h5 {
	font-size: 1rem;
	line-height: 1.2rem;
	margin: 1.2rem 0;
	font-style: italic;
	font-weight: 300;
}

h6 {
	font-size: 1rem;
	line-height: 1.2rem;
	margin: 0 0 1.2rem;
	font-weight: 300;
}

hr {

}

p {

}

blockquote {
	margin: 1.2em 0;
}

ul,
ol {
	margin: 1.2rem 0 1.2rem 2.4rem;
	padding: 0;
}

ul > li,
ol > li {

}

pre {
	margin: 1.2rem 0;
}

pre > code {

}

code {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
}

a {

}

img {

}

em {

}

strong {

}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

hr {
	margin-left: auto;
	margin-right: auto;
	width: 6rem;
	border-style: dashed;
}

.nav {
	width: 12rem;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

.content {
	margin: 0 auto;
	padding: 0 14.4rem;
	width: 40rem;
	font-family: 'Mercury SSm A', 'Mercury SSm B';
	text-rendering: optimizeLegibility;
	position: relative;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	text-align: center;
}

.content h1 {
	font-family: 'Requiem Text A', 'Requiem Text B';
}

.content .number {
	font-family: 'Numbers Trafalgar A', 'Numbers Trafalgar B';
}

.content p {
	width: 100%;
	text-align: justify;
	position: relative;
	font-weight: 300;
	margin: 0;
}

.content ul,
.content ol {
	position: relative;
	font-weight: 300;
	margin-left: 0;
}

.content ul li p,
.content ol li p {
	text-indent: 0;
	margin-bottom: 1.2rem;
}

.content ul li p:last-of-type,
.content ol li p:last-of-type {
	margin-bottom: 0;
}

.content p + p,
.content img + p,
.content pre + p {
	text-indent: 2.4rem;
}

.content blockquote {
	width: 100%;
	font-style: italic;
}

.content > p:first-of-type::first-letter {
	font-size: 4.5rem;
	float: left;
	line-height: 3.4rem;
	margin-top: 0.2rem;
	margin-right: 0.2rem;
	font-family: 'Requiem Text A', 'Requiem Text B';
	font-weight: 400;
}

.content aside,
.content .aside {
	width: 12rem;
	font-size: 0.7rem;
	line-height: 1.14em;
	font-weight: 300;
	position: absolute;
	right: -14.4rem;
	top: 0;
	text-indent: 0;
	text-align: left;
	font-style: normal;
}

.content img {
	display: block;
	margin: 2em auto;
}

.logo {
	
}

.content--title {
	font-size: 1.2rem;
	line-height: 1.2rem;
	font-family: 'Requiem Text A', 'Requiem Text B';
	font-style: italic;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
